<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

    <extension
            point="org.eclipse.ui.editors">
        <editor
            class="org.scribble.ui.ScribbleExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="spr"
            id="org.scribble.Scribble"
            name="Scribble Editor">
        </editor>
    </extension>
    <extension
    	id = "org.scribble.ui.handlers.ProjectionHandler"
        point="org.eclipse.ui.handlers">
        <handler
            class="org.scribble.ui.ScribbleExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="org.scribble.Scribble.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="org.scribble.ui.ScribbleExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="org.scribble.Scribble.validate">
         <activeWhen>
            <reference
                    definitionId="org.scribble.Scribble.Editor.opened">
            </reference>
         </activeWhen>
      </handler>
       <handler
              class="org.scribble.ui.handlers.ProjectionHandler"
              commandId="org.scribble.ui.commands.projection">
           <activeWhen>
              <reference
                    definitionId="org.scribble.Scribble.Editor.opened">
              </reference>
           </activeWhen>
        </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="org.scribble.Scribble.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="org.scribble.Scribble" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
            class="org.scribble.ui.ScribbleExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="org.scribble.Scribble"
            name="Scribble">
            <keywordReference id="org.scribble.ui.keyword_Scribble"/>
        </page>
        <page
            category="org.scribble.Scribble"
            class="org.scribble.ui.ScribbleExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="org.scribble.Scribble.coloring"
            name="Syntax Coloring">
            <keywordReference id="org.scribble.ui.keyword_Scribble"/>
        </page>
        <page
            category="org.scribble.Scribble"
            class="org.scribble.ui.ScribbleExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="org.scribble.Scribble.templates"
            name="Templates">
            <keywordReference id="org.scribble.ui.keyword_Scribble"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            class="org.scribble.ui.ScribbleExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="org.scribble.Scribble"
            name="Scribble">
            <keywordReference id="org.scribble.ui.keyword_Scribble"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="org.scribble.ui.keyword_Scribble"
            label="Scribble"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="Trigger expensive validation"
            id="org.scribble.Scribble.validate"
            name="Validate">
      </command>
       <command
            categoryId="org.scribble.ui.commands.category.projection"
            defaultHandler="org.scribble.ui.handlers.ProjectionHandler"
            description="Scribble Protocol Projection"
            id="org.scribble.ui.commands.projection"
            name="Scribble Protocol Projection">
      </command>
       <category
            description="Scribble Protocol Projection"
            id="org.scribble.ui.commands.category.projection"
            name="Scribble Protocol Projection">
      </category>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="org.scribble.Scribble.validate"
                 style="push"
                 tooltip="Trigger expensive validation">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="org.scribble.Scribble.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
                	<reference definitionId="org.scribble.Scribble.Editor.opened">
                	</reference>
            	</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	    <handler
            class="org.scribble.ui.ScribbleExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="org.scribble.Scribble.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>   

<!-- adding resource factories -->

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="org.scribble.ui.ScribbleExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="spr">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="org.scribble.ui.ScribbleExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="spr">
        </resourceServiceProvider>
    </extension>


    <!-- marker definitions for org.scribble.Scribble -->
    <extension
            id="scribble.check.fast"
            name="Scribble Problem"
            point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.xtext.ui.check.fast"/>
        <persistent value="true"/>
    </extension>
    <extension
            id="scribble.check.normal"
            name="Scribble Problem"
            point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.xtext.ui.check.normal"/>
        <persistent value="true"/>
    </extension>
    <extension
            id="scribble.check.expensive"
            name="Scribble Problem"
            point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.xtext.ui.check.expensive"/>
        <persistent value="true"/>
    </extension>

   <extension
         point="org.eclipse.xtext.builder.participant">
      <participant
            class="org.scribble.ui.ScribbleExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant">
      </participant>
   </extension>
   <extension
            point="org.eclipse.ui.preferencePages">
        <page
            category="org.scribble.Scribble"
            class="org.scribble.ui.ScribbleExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
            id="org.scribble.Scribble.compiler.preferencePage"
            name="Compiler">
            <keywordReference id="org.scribble.ui.keyword_Scribble"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            category="org.scribble.Scribble"
            class="org.scribble.ui.ScribbleExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
            id="org.scribble.Scribble.compiler.propertyPage"
            name="Compiler">
            <keywordReference id="org.scribble.ui.keyword_Scribble"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>

	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="org.scribble.ui.ScribbleExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="org.scribble.Scribble.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.scribble.Scribble.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
		  <menuContribution
              locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
           <toolbar
                 id="scribble.ui.toolbar.projection">
              <command
                    commandId="org.scribble.ui.commands.projection"
                    icon="icons/sample.gif"
                    label="Scribble Protocol Projection"
                    style="push"
                    tooltip="Scribble Protocol Projection">
                 <visibleWhen
                       checkEnabled="false">
                    <reference
                          definitionId="org.scribble.Scribble.Editor.opened">
                    </reference>
                 </visibleWhen>
              </command>
           </toolbar>
        </menuContribution>
	</extension>
    <!-- quickfix marker resolution generator for org.scribble.Scribble -->
    <extension
            point="org.eclipse.ui.ide.markerResolution">
        <markerResolutionGenerator
            class="org.scribble.ui.ScribbleExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="org.scribble.ui.scribble.check.fast">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="org.scribble.ui.ScribbleExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="org.scribble.ui.scribble.check.normal">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="org.scribble.ui.ScribbleExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="org.scribble.ui.scribble.check.expensive">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
    </extension>
   	<!-- Rename Refactoring -->
	<extension point="org.eclipse.ui.handlers">
		<handler 
			class="org.scribble.ui.ScribbleExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.IRenameElementHandler"
			commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
			<activeWhen>
				<reference
					definitionId="org.scribble.Scribble.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
    <extension point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
         <command commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
               style="push">
            <visibleWhen checkEnabled="false">
               <reference
                     definitionId="org.scribble.Scribble.Editor.opened">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
	    <page
	        category="org.scribble.Scribble"
	        class="org.scribble.ui.ScribbleExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.RefactoringPreferencePage"
	        id="org.scribble.Scribble.refactoring"
	        name="Refactoring">
	        <keywordReference id="org.scribble.ui.keyword_Scribble"/>
	    </page>
	</extension>

  <extension point="org.eclipse.compare.contentViewers">
    <viewer id="org.scribble.Scribble.compare.contentViewers"
            class="org.scribble.ui.ScribbleExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="spr">
    </viewer>
  </extension>
  <extension point="org.eclipse.compare.contentMergeViewers">
    <viewer id="org.scribble.Scribble.compare.contentMergeViewers"
            class="org.scribble.ui.ScribbleExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="spr" label="Scribble Compare">
     </viewer>
  </extension>
  <extension point="org.eclipse.ui.editors.documentProviders">
    <provider id="org.scribble.Scribble.editors.documentProviders"
            class="org.scribble.ui.ScribbleExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
            extensions="spr">
    </provider>
  </extension>

</plugin>
